body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f7fa;
  color: #333;
  height: 5rem;

}

header {
  display: flex;
  background-color: #050b1f;
  align-items: center;
  position: relative;
  justify-content: space-between;

}

img.service-image{
  width: 60%;

}


section#home{
  padding: 0;
}

div.logo{
  width: 395px;
  margin-left: 2%;
  margin-bottom: 10px;
}

.image-container img#lights {
  width: 100%;
  height: auto;
}


.logo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky .logo {
  display: none;
}

.sticky .menu li a {
  padding: 5px 10px;
}

.logo {
  display: flex;
  align-items: center;
}


section#about{
  background-color: lightgrey;
}
.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.image-container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
  text-align: center;
  z-index: 1;
}


.menu {
  display: flex;
  justify-content: flex-end;
}


#navbar {
  display: flex; 
  align-items: center;
}


.nav-items {
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.menu li {
  display: inline-block;
  margin-left: 20px;
}



ul.menu{
  margin-left: 60rem;
} 

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 10px; /* Adjust the margin as needed */
}

nav ul li:first-child {
  margin-left: 0; /* Remove margin for the first li element */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}


ul.menu{
  display: flex;
  justify-content: end;
 
}


section {
  padding: 40px;
  background-color: #fff;
  /* margin-bottom: 20px; */
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#about{
  margin-bottom: 15px;;
}

.about-para{
  background-color: white;
}

.about-para p{
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#services{
  margin-bottom: 10px;
  box-shadow:  
  0px 2px 5px rgba(0, 0, 0, 0.3),
  0px 4px 8px rgba(0, 0, 0, 0.2),
  0px 8px 16px rgba(0, 0, 0, 0.1);
}

.our-services{
  background-color: #050b1f;
  color: white;
  box-shadow:  
  0px 2px 5px rgba(0, 0, 0, 0.3),
  0px 4px 8px rgba(0, 0, 0, 0.2),
  0px 8px 16px rgba(0, 0, 0, 0.1);
}

.service-item {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.service-image {
  width: 100%; /* Adjust the width to your desired size */
  height: 50%;
}

.service-item h3 {
  color: #0d1736;
  font-size: 20px;
  margin-top: 10px;
}

.service-item p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

footer {
  background-color: #0d1736;
  color: #fff;
  text-align: center;
  padding: 10px;
}

h1, h2 {
  color: #0d1736;
}

h2{
  text-align: center;
  
}

h3{
  /* background-color: grey; */
  color: white;
}

h3 {
  text-decoration: underline;
  font-weight: bolder;
  
}

a {
  color: #0d1736;
}

ul {
  padding-left: 20px;
}


@media (max-width: 550px) {
  .logo {
  display:flex;
  }
  label.menu-icon {
    cursor: pointer;
    font-size: 40px;
    color: #fff;
  }

  img.service-image{
    width: 100%;
    
  }

  .menu-icon{
    background-color: #050b1f;
  }
  ul.menu{
    display: none;
  }



}

/* Burger Menu Styles */
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}


.menu {
  display: none;
  justify-content: flex-end;
}

.menu li {
  display: inline;
  margin-right: 10px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

/* Adjustments for Mobile Devices */
@media (max-width: 768px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  header {
    padding: 5px;
  }
  nav ul li a {
    padding: 2px 5px;
  }
  section {
    padding: 20px;
  }
  footer {
    padding: 5px;
  }

  .menu {
    display: none;
  }
  img.service-image{
    width: 100%;
    
  }


.menu-icon {
    display: inline-block;
    margin-right: 0;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
  }

  .menu {
    display: none;
    justify-content: flex-end;
  }

  .menu li {
    display: block;
    margin-bottom: 10px;
  }

  .menu a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
}





nav#navbar.sticky{
  z-index: 1999;
  background-color: #050b1f;
  height: 50px;
  box-shadow:  
  0px 2px 5px rgba(0, 0, 0, 0.3),
  0px 4px 8px rgba(0, 0, 0, 0.2),
  0px 8px 16px rgba(0, 0, 0, 0.1);
}


#about{
  box-shadow:  
  0px 2px 5px rgba(0, 0, 0, 0.3),
  0px 4px 8px rgba(0, 0, 0, 0.2),
  0px 8px 16px rgba(0, 0, 0, 0.1);
}

#socials {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}


#contact {
  background-color: #0d1736;
  color: #fff;
  text-align: center;
  padding: 40px;
}

#contact h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

#contact p {
  font-size: 16px;
  margin-bottom: 20px;
}

#contact ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
}

#contact li {
  margin-bottom: 10px;
}

#contact a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

#contact a:hover {
  text-decoration: underline;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

label {
  display: block;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


